html{

  background-color: red !important;
 /*width: 100%;
 position: relative;
 display: inline-block;
 /*background: url('https://images.unsplash.com/43/unsplash_52a99f77f30d3_1.JPG?q=80&fm=jpg&s=a8ea326213201b08a0f367048f87dc3a') !important;*/
  /*background-size: cover;
 background-attachment: fixed;*/
}
