
  <body>
    <CENTER>
    <FORM name="theForm">
    <TABLE BORDER=3 CELLSPACING=0 CELLPADDING=0>
    <TR>
    <TD>As a Drake fan, I know his lyrics....</TD>
    <TD align=center><input type=radio name="sme" value="Beginner" onClick="s()" checked>Beginner
    <input type=radio name="sme" value="Novice" onClick="m()">Pretty Well
    <input type=radio name="sme" value="Expert" onClick="e()">By Heart</TD>
    </TR>
    <TR><TD colspan=2><BR>
    <center><input type=button value="Start Typing Test" name="start" onClick="beginIt()"></center><P>
    <textarea name="given" cols=53 rows=3 wrap=on onFocus="cheat()"></textarea></TD>
    </TR>
    <TR><TD colspan=2><center><input type=text name="typed" size=45>
    <input type=button value="DONE"  name="stop"  onClick="stopIt()"></center></TD>
    </TR>
    </TABLE></FORM>
    </CENTER>




  </body>

  <div id="b">
    <img src="http://i.imgur.com/t3fLVnF.png" alt="drizzy" />

  </div>
