body{
 width: 100%;
 position: relative;
 display: inline-block;
 background: url(https://www.toonboom.com/sites/default/files/userfiles/images/studio/tips-and-tricks/painterly-look/tips_usingbitmap_1.jpg )  center no-repeat;
 )  center no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

http://4vector.com/i/free-vector-music-stage-clip-art_114161_Music_Stage_clip_art_hight.png


background: url(https://www.toonboom.com/sites/default/files/userfiles/images/studio/tips-and-tricks/painterly-look/tips_usingbitmap_1.jpg )  center no-repeat;
